@media (max-width: 992px) {
  .blinkit-header {
    flex-wrap: wrap;
  }

  .search-box {
    order: 3;
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 992px){
  .banner-section{
    grid-template-columns: repeat(2, 1fr);
  }

  .category-section{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px){
  .banner-section{
    grid-template-columns: 1fr;
  }

  .category-section{
    grid-template-columns: repeat(2, 1fr);
  }
}
