* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f8f8f8;
}

.blinkit-header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 12px 20px;
  background: #fff;
  border-bottom: #ccc solid 1px;
  
}

.logo img {
  height:  70px;
  background-color: transparent;
  
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  min-width: 150px;
  
}

.search-box {
  flex: 1;
}

.search-box input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: #f3f3f3;
}
.button {
  display: flex;
  gap: 10px;
  
}

.login-btn {
  background: transparent;
  border: #ccc;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 14px;
  border-radius: 8px;
  color: black;
  border: #ccc 1px solid;

}
.cart-btn{
  display: inline-block;
  transition: transform 0.3s ease;

}
.cart-btn :hover {
  transform: scale(1.1);

}

.cart-btn {
  background: rgb(6, 74, 6);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-size: 15px;

}

.banner-text h1 {
  font-size: 32px;
}

.banner-text button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #fff;
  color: green;
  border-radius: 6px;
  cursor: pointer;
}

.banner-section{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-bottom:40px;
    margin-left: 20px;
    margin-right: 20px;
}


.banner-card{
    border-radius:18px;
    padding:20px;
    min-height:180px;
    color:#fff;
    position:relative;
}

.banner-card h2{
    font-size:22px;
    margin-bottom:10px;
}

.banner-card p{
    font-size:14px;
    margin-bottom:15px;
}

.banner-card button{
    padding:8px 16px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
}

.card1{ background:#00b7a5; }
.card2{ background:#ffcc29; color:#000; }
.card3{ background:#dfe7f2; color:#000; }
.card4{ background:#ff7a7a; }

.category-section{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap:20px;
}

.category-card{
    background:#fff;
    border-radius:16px;
    padding:15px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.category-card img{
    width:80px;
    height:80px;
    object-fit:contain;
    margin-bottom:10px;
}

.category-card p{
    font-size:14px;
    font-weight:600;
}