* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f8f8f8;
}

.blinkit-header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 12px 20px;
  background: #fff;
  border-bottom: #ccc solid 1px;
  
}

.logo img {
  height:  70px;
  background-color: transparent;
  
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  min-width: 150px;
  
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  
}
.search-box i{
  position: absolute;
  margin-left: 93%;
  
}

.search-box input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: #f3f3f3;
}
.button {
  display: flex;
  gap: 10px;
  
}

.login-btn {
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 8px;
  color: black;
  border: 1px solid #ccc;
}

.login-btn span {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.login-btn:hover span {
  transform: scale(1.2);   
  color: #007bff;         
}

.cart-btn{
  display: inline-block;
  transition: transform 0.3s ease;

}
.cart-btn :hover {
  transform: scale(1.1);

}

.cart-btn {
  background: rgb(6, 74, 6);
  color: white;
  border: none;
  padding: 5px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;

}

.banner-text h1 {
  font-size: 32px;
}

.banner-text button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #fff;
  color: green;
  border-radius: 6px;
  cursor: pointer;
}

.banner-section{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-bottom:40px;
    margin-left: 20px;
    margin-right: 20px;
}


.banner-card{
    border-radius:18px;
    padding:20px;
    min-height:180px;
    color:#fff;
    position:relative;
}

.banner-card h2{
    font-size:22px;
    margin-bottom:10px;
}

.banner-card p{
    font-size:14px;
    margin-bottom:15px;
}

.banner-card button{
    padding:8px 16px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
}

.card1{ background:#00b7a5; }
.card2{ background:#ffcc29; color:#000; }
.card3{ background:#dfe7f2; color:#000; }
.card4{ background:#ff7a7a; }

.category-section{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap:20px;
}

.category-card{
    background:#fff;
    border-radius:16px;
    padding:15px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.category-card img{
    width:80px;
    height:80px;
    object-fit:contain;
    margin-bottom:10px;
}

.category-card p{
    font-size:14px;
    font-weight:600;
}
.page2{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.page2-section{
    padding:40px 15px;
    text-align:center;
}

.page2-section h1{
    margin-bottom:30px;
    font-size:32px;
}


.page2-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:25px;
}


.items{
    background:#fff;
    border-radius:12px;
    padding:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    transition:0.3s;
    text-align:left;
}

.items:hover{
    transform:translateY(-6px);
}


.items img{
    width:100%;
    height:auto;      
    display:block;
    border-radius:10px;
}




.items h2{
    margin:15px 0 8px;
    font-size:20px;
}

.items p{
    font-size:14px;
    color:#555;
    line-height:1.5;
    margin-bottom:10px;
}

.wight{
    display:block;
    font-weight:bold;
    margin-bottom:15px;
}


.items button{
    width:100%;
    padding:10px;
    border:none;
    background:#1976d2;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
   
}

.items button:hover{
    background:#0d47a1;
}
.footer {
  background: #f6f6f6;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  background-color: #ccc;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #000;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #0c831f;
}
.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-top: 30px;
}


